<h1>Cities</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add City</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">ID</th>
            <th style="width: 30%">Name</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{city.id}}</td>
            <td>{{city.name}}</td>
            <td style="white-space: nowrap">
                <button (click)="deleteCity(city.id)" class="btn btn-sm btn-danger btn-delete-user">
                    <span >Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!cities">
            <td colspan="2" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>